<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <!-- THÊM 3 DÒNG NÀY VÀO TRONG THẺ <head> -->
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/vendor/bootstrap-icons/bootstrap-icons.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<!-- THÊM DÒNG NÀY VÀO CUỐI THẺ <body> -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>